pkgbase = monarch-todo
	pkgdesc = Fast TUI/CLI todo manager for Monarch
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/monarch-os/monarch-todo
	install = monarch-todo.install
	arch = x86_64
	license = MIT
	makedepends = cargo
	makedepends = git
	optdepends = monarch: reminders, the Mod+T launcher and the Noctalia bar widget
	source = monarch-todo-0.1.2::git+https://github.com/monarch-os/monarch-todo.git#tag=v0.1.2
	sha256sums = SKIP

pkgname = monarch-todo
