pkgbase = intel-ipu7-camera
	pkgdesc = Intel IPU7 MIPI camera stack for Hurrican/Performance (OV08X40 + hardware ISP)
	pkgver = 1.0.3
	pkgrel = 4
	url = https://github.com/TsaiGaggery/hurrican_omarchy_enabling
	install = intel-ipu7-camera.install
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = git
	makedepends = base-devel
	makedepends = cmake
	makedepends = autoconf
	makedepends = automake
	makedepends = libtool
	makedepends = pkgconf
	depends = dkms
	depends = linux-headers
	depends = v4l2loopback-dkms
	depends = v4l2-relayd
	depends = gstreamer
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = jsoncpp
	depends = libdrm
	options = !strip
	source = ipu7-drivers::git+https://github.com/intel/ipu7-drivers.git#commit=a88b19096a738d0708742a78d6540d6d4a3021ff
	source = vision-drivers::git+https://github.com/intel/vision-drivers.git#commit=a8d772f261bc90376944956b7bfd49b325ffa2f2
	source = ipu7-camera-bins::git+https://github.com/intel/ipu7-camera-bins.git#commit=403c67db6b279dd02752f11db6a34552f31a3ac5
	source = ipu7-camera-hal::git+https://github.com/intel/ipu7-camera-hal.git#commit=b1f6ebef12111fb5da0133b144d69dd9b001836c
	source = icamerasrc::git+https://github.com/intel/icamerasrc.git#commit=4fb31db76b618aae72184c59314b839dedb42689
	source = 0003-icvs-set-rgbcamera_pwrup_host-0-for-Panther-Lake.patch
	source = dkms-ipu7-drivers.conf
	source = dkms-vision-drivers.conf
	source = camera-deps.conf
	source = v4l2loopback-modprobe.conf
	source = camera-init.service
	source = intel-ipu7-camera.service
	source = hide-ipu7-v4l2.conf
	source = disable-libcamera.conf
	source = 71-ipu7-hide-isys.rules
	source = 90-ipu7-psys.rules
	source = camera-tmpfiles.conf
	source = ov08x40.yaml
	source = camera-sleep-hook
	source = v4l2-relayd-ipu7.conf
	source = v4l2-relayd-ipu7-override.conf
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = intel-ipu7-camera
